PORT=3001
JWT_ACCESS_SECRET=<generate-with-crypto.randomBytes(48).toString('hex')>
JWT_REFRESH_SECRET=<generate-with-crypto.randomBytes(48).toString('hex')>
JWT_RESET_SECRET=<generate-with-crypto.randomBytes(48).toString('hex')>
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
JWT_RESET_EXPIRES=1h
DB_PATH=./data/database.sqlite
NODE_ENV=development
